nav {
	background: var(--altbg);
	border-radius: var(--border-radius);

	text-align: center;
	font-variant: small-caps;
	clear: both;

	font-size: 18px;
}

@media (max-width: 750px) {
	nav {
		max-width: var(--navwidth-sm);
	}
}

@media (min-width: 750px) {
	nav {
		max-width: var(--navwidth-md);
	}
}

@media (min-width: 1200px) {
	nav {
		max-width: calc(var(--navwidth-lg));
	}
}

@media (min-width: 1500px) {
	body {
		max-width: calc(var(--navwidth-vlg));
	}
}

nav li {
	display: inline-block;
	list-style: none;
	background: var(--bg);
	padding: 8px;
	max-width: 7em;

	margin: 4px;
}
nav ul.header {
	display: block;
	list-style-type: disc;
}
nav ul {
	padding: 0px;
	margin: 0px;
}
